@page
@{
    ViewData["Title"] = "To Investor Vizavi";
}

        <!-- begin .headline -->

        <div class="headline headline--investor">
            <!-- begin .headline__wrap -->
            <div class="headline__wrap">
                <!-- begin .headline__content -->
                <div class="headline__content">
                    <h1 class="h2">Copy Professionals Transactions</h1>

                    <p><strong>Earn on transactions made by traders</strong> who have proven their skills</p>
                    <!-- begin .headline__actions -->

                    <div class="headline__actions headline-actions"><a class="button button-red"
                            href="https://my.vizavi.com/registration">Copy Transactions</a></div>
                    <!-- end .headline__actions -->
                </div>
                <!-- end .headline__content -->
            </div>
            <!-- end .headline__wrap -->
        </div>
        <!-- end .headline -->
        <!-- begin .text-investor -->

        <div class="text-investor">
            <!-- begin .text-investor__wrap -->
            <div class="text-investor__wrap">
                <!-- begin .intro-box -->
                <div class="intro-box">
                    <h2 class="h2"><span>Get Profit</span> not understanding in Trading</h2>

                    <p>
                        <strong>Get profit</strong>
                        in the financial markets,
                        <strong>even if you do not understand </strong>
                        trading.
                        You do not need to carry out trading operations by yourself and constantly monitor your account&nbsp;&mdash; 
                        <strong>just select one or more traders using the profitability rating and earn with them</strong>.
                    </p>
                </div>
                <!-- end .intro-box -->
                <!-- begin .text-investor__cards -->

                <div class="text-investor__cards">
                    <!-- begin .text-investor__left -->
                    <div class="text-investor__left js_slider-left"><svg fill="none" height="38" width="22"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.523 20.22l17.143 16.902c.762.751 1.905.751 2.667 0 .38-.188.571-.751.571-1.315 0-.563-.19-.939-.571-1.314L5.523 18.906l15.81-15.587c.38-.375.571-.751.571-1.314 0-.564-.19-.94-.571-1.315C20.952.314 20.57.127 20 .127c-.572 0-.953.187-1.334.563L1.523 17.591c-.38.376-.571.752-.571 1.315s.19 1.127.571 1.315z"
                                fill="currentColor"></path>
                        </svg></div>
                    <!-- end .text-investor__left -->
                    <!-- begin .text-investor__slider -->

                    <div
                        class="text-investor__slider advantage-cards advantage-cards--list owl-carousel js_advantage-slider">
                        <!-- begin .advantage-cards__item -->
                        <div class="advantage-cards__item">
                            <div class="advantage-card">
                                <!-- begin .advantage-card__shadow -->
                                <div class="advantage-card__shadow">
                                    <!-- begin .advantage-card__box -->
                                    <div class="advantage-card__box">
                                        <!-- begin .advantage-card__icon -->
                                        <div class="advantage-card__icon"><svg height="64" width="64">
                                                <use xlink:href="#i_analytics-color"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg></div>
                                        <!-- end .advantage-card__icon -->
                                        <!-- begin .advantage-card__name -->

                                        <div class="advantage-card__name">Keep full control over your account</div>
                                        <!-- end .advantage-card__name -->
                                        <!-- begin .advantage-card__body -->

                                        <div class="advantage-card__body">
                                            <p>You can close the copied transaction at any time if you consider it necessary</p>
                                        </div>
                                        <!-- end .advantage-card__body -->
                                    </div>
                                    <!-- end .advantage-card__box -->
                                </div>
                                <!-- end .advantage-card__shadow -->
                            </div>
                            <!-- end .advantage-card -->
                        </div>
                        <!-- end .advantage-cards__item -->
                        <!-- begin .advantage-cards__item -->

                        <div class="advantage-cards__item">
                            <!-- begin .advantage-card -->
                            <div class="advantage-card">
                                <!-- begin .advantage-card__shadow -->
                                <div class="advantage-card__shadow">
                                    <!-- begin .advantage-card__box -->
                                    <div class="advantage-card__box">
                                        <!-- begin .advantage-card__icon -->
                                        <div class="advantage-card__icon"><svg height="54" width="68">
                                                <use xlink:href="#i_management"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg></div>
                                        <!-- end .advantage-card__icon -->
                                        <!-- begin .advantage-card__name -->

                                        <div class="advantage-card__name">Manage transaction copying in your personal account</div>
                                        <!-- end .advantage-card__name -->
                                        <!-- begin .advantage-card__body -->

                                        <div class="advantage-card__body">
                                            <p>Connect and disconnect traders in one click from a mobile device, tablet or computer</p>
                                        </div>
                                        <!-- end .advantage-card__body -->
                                    </div>
                                    <!-- end .advantage-card__box -->
                                </div>
                                <!-- end .advantage-card__shadow -->
                            </div>
                            <!-- end .advantage-card -->
                        </div>
                        <!-- end .advantage-cards__item -->
                        <!-- begin .advantage-cards__item -->

                        <div class="advantage-cards__item">
                            <!-- begin .advantage-card -->
                            <div class="advantage-card">
                                <!-- begin .advantage-card__shadow -->
                                <div class="advantage-card__shadow">
                                    <!-- begin .advantage-card__box -->
                                    <div class="advantage-card__box">
                                        <!-- begin .advantage-card__icon -->
                                        <div class="advantage-card__icon"><svg height="61" width="90">
                                                <use xlink:href="#i_toptraders"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg></div>
                                        <!-- end .advantage-card__icon -->
                                        <!-- begin .advantage-card__name -->

                                        <div class="advantage-card__name">Choose the most talented among 5000 traders</div>
                                        <!-- end .advantage-card__name -->
                                        <!-- begin .advantage-card__body -->

                                        <div class="advantage-card__body">
                                            <p>Use full access to account history and trader’s profitability information to choose the most successful</p>
                                        </div>
                                        <!-- end .advantage-card__body -->
                                    </div>
                                    <!-- end .advantage-card__box -->
                                </div>
                                <!-- end .advantage-card__shadow -->
                            </div>
                            <!-- end .advantage-card -->
                        </div>
                        <!-- end .advantage-cards__item -->
                        <!-- begin .advantage-cards__item -->

                        <div class="advantage-cards__item">
                            <!-- begin .advantage-card -->
                            <div class="advantage-card">
                                <!-- begin .advantage-card__shadow -->
                                <div class="advantage-card__shadow">
                                    <!-- begin .advantage-card__box -->
                                    <div class="advantage-card__box">
                                        <!-- begin .advantage-card__icon -->
                                        <div class="advantage-card__icon"><svg height="56" width="57">
                                                <use xlink:href="#i_superfigure"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg></div>
                                        <!-- end .advantage-card__icon -->
                                        <!-- begin .advantage-card__name -->

                                        <div class="advantage-card__name">Copy transaction of all traders from one account</div>
                                        <!-- end .advantage-card__name -->
                                        <!-- begin .advantage-card__body -->

                                        <div class="advantage-card__body">
                                            <p>Copy trades of all traders using one account</p>
                                        </div>
                                        <!-- end .advantage-card__body -->
                                    </div>
                                    <!-- end .advantage-card__box -->
                                </div>
                                <!-- end .advantage-card__shadow -->
                            </div>
                            <!-- end .advantage-card -->
                        </div>
                        <!-- end .advantage-cards__item -->
                    </div>
                    <!-- end .text-investor__slider -->
                    <!-- begin .text-investor__right -->

                    <div class="text-investor__right js_slider-right"><svg fill="none" height="38" width="22"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.332 17.78L4.19.877c-.762-.751-1.904-.751-2.666 0-.381.188-.572.751-.572 1.315 0 .563.19.939.572 1.314l15.81 15.587-15.81 15.587c-.381.376-.572.751-.572 1.315 0 .563.19.938.572 1.314.38.376.762.563 1.333.563s.952-.187 1.333-.563l17.143-16.901c.381-.376.572-.752.572-1.315s-.19-1.127-.572-1.315z"
                                fill="currentColor"></path>
                        </svg></div>
                    <!-- end .text-investor__right -->
                </div>
                <!-- end .text-investor__cards -->
            </div>
            <!-- end .text-investor__wrap -->
        </div>
        <!-- end .text-investor -->
        <!-- begin .new-method -->

        <div class="new-method">
            <!-- begin .new-method__wrap -->
            <div class="new-method__wrap">
                <!-- begin .intro-box -->
                <div class="intro-box">
                    <h2 class="h2"><span>A new approach</span> to investments</h2>
                </div>
                <!-- end .intro-box -->
                <!-- begin .new-method__bg -->

                <div class="new-method__bg flex flex-stretch">
                    <!-- begin .new-method__info -->
                    <div class="new-method__item new-method__info">
                        <!-- begin .intro-box -->
                        <div class="intro-box text-left p-decor">
                            <h3 class="h2">Social trading</h3>

                            <p><strong>Social trading in&nbsp;Vizavi</strong> is an investment that you do not need to constantly monitor. <strong> Get passive income</strong> from successful trading by professionals, <strong>devoting as much time to it as you want.</strong></p>
                            <!-- begin .new-method__actions -->

                            <div class="new-method__actions"><a class="button button-red"
                                    href="https://my.vizavi.com/registration">Open account</a></div>
                            <!-- end .new-method__actions -->
                        </div>
                        <!-- end .intro-box -->
                    </div>
                    <!-- end .new-method__info -->
                    <!-- begin .new-method__list -->

                    <div class="new-method__item new-method__list">
                        <ul class="check-in-circle">
                            <li>Automatic copying of transactions</li>
                            <li>Negative balance protection</li>
                            <li>Individual control of loss limit</li>
                            <li>Closing transactions upon reaching the loss limit</li>
                        </ul>
                    </div>
                    <!-- end .new-method__list -->
                </div>
                <!-- end .new-method__bg -->
            </div>
            <!-- end .new-method__wrap -->
        </div>
        <!-- end .new-method -->
        <!-- begin .copy-transaction -->

        <div class="copy-transaction">
            <!-- begin .copy-transaction__wrap -->
            <div class="copy-transaction__wrap">
                <!-- begin .intro-box -->
                <div class="intro-box">
                    <h2 class="h2"><span>Copy transaction</span> of several traders <span>simultaniously</span></h2>

                    <p><strong>Create your investment portfolio</strong> by connecting several traders from the rating to the account at once.</p>
                </div>
                <!-- end .intro-box -->
                <!-- begin .copy-transaction__cards -->

                <div class="copy-transaction__cards">
                    <!-- begin .icon-cards -->
                    <div class="icon-cards icon-cards--light">
                        <!-- begin .icon-card -->
                        <div class="icon-card">
                            <!-- begin .icon-card__box -->
                            <div class="icon-card__box">
                                <!-- begin .icon-card__icon -->
                                <div class="icon-card__icon">
                                    <!-- begin .icon-card__icon-ico -->
                                    <div class="icon-card__icon-ico"><svg height="49" width="49">
                                            <use xlink:href="#i_wallet" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            </use>
                                        </svg></div>
                                    <!-- end .icon-card__icon-ico -->
                                </div>
                                <!-- end .icon-card__icon -->
                                <!-- begin .icon-card__content -->

                                <div class="icon-card__content">
                                    <p><strong>Maximum profit</strong> from the income of several traders</p>
                                </div>
                                <!-- end .icon-card__content -->
                            </div>
                            <!-- end .icon-card__box -->
                        </div>
                        <!-- end .icon-card -->
                        <!-- begin .icon-card -->

                        <div class="icon-card">
                            <!-- begin .icon-card__box -->
                            <div class="icon-card__box">
                                <!-- begin .icon-card__icon -->
                                <div class="icon-card__icon">
                                    <!-- begin .icon-card__icon-ico -->
                                    <div class="icon-card__icon-ico"><svg height="48" width="45">
                                            <use xlink:href="#i_loupe-with-graph"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg></div>
                                    <!-- end .icon-card__icon-ico -->
                                </div>
                                <!-- end .icon-card__icon -->
                                <!-- begin .icon-card__content -->

                                <div class="icon-card__content">
                                    <p><strong>Full transparency</strong> of forming and maintaining a portfolio process</p>
                                </div>
                                <!-- end .icon-card__content -->
                            </div>
                            <!-- end .icon-card__box -->
                        </div>
                        <!-- end .icon-card -->
                        <!-- begin .icon-card -->

                        <div class="icon-card">
                            <!-- begin .icon-card__box -->
                            <div class="icon-card__box">
                                <!-- begin .icon-card__icon -->
                                <div class="icon-card__icon">
                                    <!-- begin .icon-card__icon-ico -->
                                    <div class="icon-card__icon-ico"><svg height="55" width="55">
                                            <use xlink:href="#i_allocation" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            </use>
                                        </svg></div>
                                    <!-- end .icon-card__icon-ico -->
                                </div>
                                <!-- end .icon-card__icon -->
                                <!-- begin .icon-card__content -->

                                <div class="icon-card__content">
                                    <p><strong>Minimization of risks</strong> through the distribution of funds</p>
                                </div>
                                <!-- end .icon-card__content -->
                            </div>
                            <!-- end .icon-card__box -->
                        </div>
                        <!-- end .icon-card -->
                        <!-- begin .icon-card -->

                        <div class="icon-card">
                            <!-- begin .icon-card__box -->
                            <div class="icon-card__box">
                                <!-- begin .icon-card__icon -->
                                <div class="icon-card__icon">
                                    <!-- begin .icon-card__icon-ico -->
                                    <div class="icon-card__icon-ico"><svg height="50" width="58">
                                            <use xlink:href="#i_crm" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg></div>
                                    <!-- end .icon-card__icon-ico -->
                                </div>
                                <!-- end .icon-card__icon -->
                                <!-- begin .icon-card__content -->

                                <div class="icon-card__content">
                                    <p><strong>Automatic calculation</strong> of risks and profitability during portfolio formation</p>
                                </div>
                                <!-- end .icon-card__content -->
                            </div>
                            <!-- end .icon-card__box -->
                        </div>
                        <!-- end .icon-card -->
                    </div>
                    <!-- end .icon-cards -->
                </div>
                <!-- end .copy-transaction__cards -->
            </div>
            <!-- end .copy-transaction__wrap -->
        </div>
        <!-- end .copy-transaction -->
        <!-- begin .cut-bubble -->

        <div class="cut-bubble">
            <!-- begin .cut-bubble__wrap -->
            <div class="cut-bubble__wrap flex ">
                <!-- begin .cut-bubble__message -->
                <div class="cut-bubble__message col-half cut-bubble-message cut-bubble-message--investor">
                    <!-- begin .cut-bubble-message__box -->
                    <div class="cut-bubble-message__box">
                        <!-- begin .cut-bubble-message__content -->
                        <div class="cut-bubble-message__content">
                            <h2 class="h2">We will protect <span>Your deposit from loss</span> and negative balance</h2>

                            <p><strong>Only verified professionals </strong>who have made the cut after three months of trading and at least 50 transactions are involved in the rating</p>
                            <!-- begin .cut-bubble-message__actions -->

                            <div class="cut-bubble-message__actions"><a class="button button-light"
                                    href="https://my.vizavi.com/registration">Learn more</a></div>
                            <!-- end .cut-bubble-message__actions -->
                        </div>
                        <!-- end .cut-bubble-message__content -->
                    </div>
                    <!-- end .cut-bubble-message__box -->
                </div>
                <!-- end .cut-bubble__message -->
                <!-- begin .cut-bubble__picture -->

                <div class="cut-bubble__picture col-half cut-bubble-picture">
                    <!-- begin .cut-bubble-picture__box -->
                    <div class="cut-bubble-picture__box"><img alt="" src="/assets/images/vizavi-on-mobile.png" /></div>
                    <!-- end .cut-bubble-picture__box -->
                </div>
                <!-- end .cut-bubble__picture -->
            </div>
            <!-- end .cut-bubble__wrap -->
        </div>
        <!-- end .cut-bubble -->
        <!-- begin .traders-slider -->

        <div class="traders-slider">
            <!-- begin .traders-slider__wrap -->
            <div class="traders-slider__wrap">
                <!-- begin .intro-box -->
                <div class="intro-box">
                    <h2 class="h2"><span>5 best</span> traders</h2>
                </div>
                <!-- end .intro-box -->
                <!-- begin .traders-slider__list -->

                <div class="traders-slider__list">
                    <!-- begin .traders-slider__left -->
                    <div class="traders-slider__left js_slider-left"><svg fill="none" height="38" width="22"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.523 20.22l17.143 16.902c.762.751 1.905.751 2.667 0 .38-.188.571-.751.571-1.315 0-.563-.19-.939-.571-1.314L5.523 18.906l15.81-15.587c.38-.375.571-.751.571-1.314 0-.564-.19-.94-.571-1.315C20.952.314 20.57.127 20 .127c-.572 0-.953.187-1.334.563L1.523 17.591c-.38.376-.571.752-.571 1.315s.19 1.127.571 1.315z"
                                fill="currentColor"></path>
                        </svg></div>
                    <!-- end .traders-slider__left -->
                    <!-- begin .traders-list -->


                    <div class="traders-list js_traders-list owl-carousel">

                        <div class="traders-list__item">
                            <div class="trader-card">
                                <div class="trader-card__box">

                                    <div class="trader-card__avatar">
                                        <img alt="Трейдер Nikita_Profit" height="" src="/assets/images/svg/user-avatar.svg"
                                            width="" />
                                    </div>

                                    <div class="trader-card__header">
                                        <div class="trader-card__header-name">Nikita_Profit</div>
                                    </div>

                                    <div class="trader-card__graph">
                                        <div class="trader-card__graph-box graph-container" id="graph-container_5"
                                            data-graph="[7, 8, 9, 6, 10]">
                                        </div>
                                    </div>

                                    <div class="trader-card__body">

                                        <div class="trader-card__row trader-card__row--full">
                                            <div class="trader-card__name">Connected Investors</div>
                                            <div class="trader-card__value">84</div>
                                        </div>

                                        <div class="trader-card__row is-accent">
                                            <div class="trader-card__name">Profit</div>
                                            <div class="trader-card__value">524.15%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Last month Profit</div>
                                            <div class="trader-card__value">12.90</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Maximum Profit during the day</div>
                                            <div class="trader-card__value">38.02</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Registration in a rating</div>
                                            <div class="trader-card__value">384</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="traders-list__item">
                            <div class="trader-card">
                                <div class="trader-card__box">

                                    <div class="trader-card__avatar">
                                        <img alt="Трейдер RecordsMan" height="" src="/assets/images/svg/user-avatar.svg"
                                            width="" />
                                    </div>

                                    <div class="trader-card__header">
                                        <div class="trader-card__header-name">RecordsMan</div>
                                    </div>

                                    <div class="trader-card__graph">
                                        <div class="trader-card__graph-box graph-container" id="graph-container_6"
                                            data-graph="[7, 6, 5, 7, 8]">
                                        </div>
                                    </div>

                                    <div class="trader-card__body">

                                        <div class="trader-card__row trader-card__row--full">
                                            <div class="trader-card__name">Connected Investors</div>
                                            <div class="trader-card__value">63</div>
                                        </div>

                                        <div class="trader-card__row is-accent">
                                            <div class="trader-card__name">Profit</div>
                                            <div class="trader-card__value">413.72%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Last month Profit</div>
                                            <div class="trader-card__value">32.65%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Maximum Profit during the day</div>
                                            <div class="trader-card__value">19.96%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Registration in a rating</div>
                                            <div class="trader-card__value">294</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="traders-list__item">
                            <div class="trader-card">
                                <div class="trader-card__box">

                                    <div class="trader-card__avatar">
                                        <img alt="Трейдер Pasha_VIP" height="" src="/assets/images/svg/user-avatar.svg"
                                            width="" />
                                    </div>

                                    <div class="trader-card__header">
                                        <div class="trader-card__header-name">Pasha_VIP</div>
                                    </div>

                                    <div class="trader-card__graph">
                                        <div class="trader-card__graph-box graph-container" id="graph-container_7"
                                            data-graph="[5, 8, 5, 3, 4]">
                                        </div>
                                    </div>

                                    <div class="trader-card__body">

                                        <div class="trader-card__row trader-card__row--full">
                                            <div class="trader-card__name">Connected Investors</div>
                                            <div class="trader-card__value">26</div>
                                        </div>

                                        <div class="trader-card__row is-accent">
                                            <div class="trader-card__name">Profit</div>
                                            <div class="trader-card__value">214.64%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Last month Profit</div>
                                            <div class="trader-card__value">7.98%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Maximum Profit during the day</div>
                                            <div class="trader-card__value">46.12%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Registration in a rating</div>
                                            <div class="trader-card__value">366</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="traders-list__item">
                            <div class="trader-card">
                                <div class="trader-card__box">

                                    <div class="trader-card__avatar">
                                        <img alt="Трейдер Gold_Digger" height="" src="/assets/images/svg/user-avatar.svg"
                                            width="" />
                                    </div>

                                    <div class="trader-card__header">
                                        <div class="trader-card__header-name">Gold_Digger</div>
                                    </div>

                                    <div class="trader-card__graph">
                                        <div class="trader-card__graph-box graph-container" id="graph-container_2"
                                            data-graph="[5, 4, 6, 5, 7]">
                                        </div>
                                    </div>

                                    <div class="trader-card__body">

                                        <div class="trader-card__row trader-card__row--full">
                                            <div class="trader-card__name">Connected Investors</div>
                                            <div class="trader-card__value">32</div>
                                        </div>

                                        <div class="trader-card__row is-accent">
                                            <div class="trader-card__name">Profit</div>
                                            <div class="trader-card__value">189.12%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Last month Profit</div>
                                            <div class="trader-card__value">69.54%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Maximum Profit during the day</div>
                                            <div class="trader-card__value">20.84%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Registration in a rating</div>
                                            <div class="trader-card__value">253</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="traders-list__item">
                            <div class="trader-card">
                                <div class="trader-card__box">

                                    <div class="trader-card__avatar">
                                        <img alt="Трейдер MoneyHunt" height="" src="/assets/images/svg/user-avatar.svg"
                                            width="" />
                                    </div>

                                    <div class="trader-card__header">
                                        <div class="trader-card__header-name">MoneyHunt</div>
                                    </div>

                                    <div class="trader-card__graph">
                                        <div class="trader-card__graph-box graph-container" id="graph-container_4"
                                            data-graph="[6, 8, 7, 8, 10]">
                                        </div>
                                    </div>

                                    <div class="trader-card__body">

                                        <div class="trader-card__row trader-card__row--full">
                                            <div class="trader-card__name">Connected Investors</div>
                                            <div class="trader-card__value">19</div>
                                        </div>

                                        <div class="trader-card__row is-accent">
                                            <div class="trader-card__name">Profit</div>
                                            <div class="trader-card__value">168.96%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Last month Profit</div>
                                            <div class="trader-card__value">21.18%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Maximum Profit during the day</div>
                                            <div class="trader-card__value">12.44%</div>
                                        </div>

                                        <div class="trader-card__row">
                                            <div class="trader-card__name">Registration in a rating</div>
                                            <div class="trader-card__value">112</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- begin .traders-slider__right -->

                    <div class="traders-slider__right js_slider-right"><svg fill="none" height="38" width="22"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.332 17.78L4.19.877c-.762-.751-1.904-.751-2.666 0-.381.188-.572.751-.572 1.315 0 .563.19.939.572 1.314l15.81 15.587-15.81 15.587c-.381.376-.572.751-.572 1.315 0 .563.19.938.572 1.314.38.376.762.563 1.333.563s.952-.187 1.333-.563l17.143-16.901c.381-.376.572-.752.572-1.315s-.19-1.127-.572-1.315z"
                                fill="currentColor"></path>
                        </svg></div>
                    <!-- end .traders-slider__right -->
                </div>
                <!-- end .traders-slider__list -->
            </div>
            <!-- end .traders-slider__wrap -->
        </div>
        <!-- end .traders-slider -->
        <!-- begin .best-traders -->

        <div class="best-traders">
            <!-- begin .best-traders__wrap -->
            <div class="best-traders__wrap">
                <!-- begin .intro-box -->
                <div class="intro-box">
                    <h2 class="h2"><span>Copying the best</span> traders is simple!</h2>
                </div>
                <!-- end .intro-box -->
                <!-- begin .best-traders__cards -->

                <div class="best-traders__cards number-cards">
                    <!-- begin .number-card -->
                    <div class="number-card">
                        <!-- begin .number-card__box -->
                        <div class="number-card__box">
                            <!-- begin .number-card__number -->
                            <div class="number-card__number">1</div>
                            <!-- end .number-card__number -->
                            <!-- begin .number-card__content -->

                            <div class="number-card__content">
                                <!-- begin .number-card__content-title -->
                                <div class="number-card__content-title">Replenish a payment account in your Personal Account</div>
                                <!-- end .number-card__content-title -->
                                <!-- begin .number-card__content-info -->

                                <div class="number-card__content-info">A payment account is your electronic wallet from which you can transfer and withdraw money.</div>
                                <!-- end .number-card__content-info -->
                            </div>
                            <!-- end .number-card__content -->
                        </div>
                        <!-- end .number-card__box -->
                    </div>
                    <!-- end .number-card -->
                    <!-- begin .number-card -->

                    <div class="number-card">
                        <!-- begin .number-card__box -->
                        <div class="number-card__box">
                            <!-- begin .number-card__number -->
                            <div class="number-card__number">2</div>
                            <!-- end .number-card__number -->
                            <!-- begin .number-card__content -->

                            <div class="number-card__content">
                                <!-- begin .number-card__content-title -->
                                <div class="number-card__content-title">Create an investment account and transfer funds to it</div>
                                <!-- end .number-card__content-title -->
                                <!-- begin .number-card__content-info -->

                                <div class="number-card__content-info">Transfer funds to your new investment account from a payment account.</div>
                                <!-- end .number-card__content-info -->
                            </div>
                            <!-- end .number-card__content -->
                        </div>
                        <!-- end .number-card__box -->
                    </div>
                    <!-- end .number-card -->
                    <!-- begin .number-card -->

                    <div class="number-card">
                        <!-- begin .number-card__box -->
                        <div class="number-card__box">
                            <!-- begin .number-card__number -->
                            <div class="number-card__number">3</div>
                            <!-- end .number-card__number -->
                            <!-- begin .number-card__content -->

                            <div class="number-card__content">
                                <!-- begin .number-card__content-title -->
                                <div class="number-card__content-title">Connect a trader to your investment account</div>
                                <!-- end .number-card__content-title -->
                                <!-- begin .number-card__content-info -->

                                <div class="number-card__content-info">Choose a trader using the profitability rating and connect it to your investment account in Personal Account.</div>
                                <!-- end .number-card__content-info -->
                            </div>
                            <!-- end .number-card__content -->
                        </div>
                        <!-- end .number-card__box -->
                    </div>
                    <!-- end .number-card -->
                </div>
                <!-- end .best-traders__cards -->
            </div>
            <!-- end .best-traders__wrap -->
        </div>
        <!-- end .best-traders -->