@page
@{
    ViewData["Title"] = "Страница &laquo;Спасибо&raquo;";
}

        <!-- begin .error-content -->
        <div class="contact-thanks">
            <!-- begin .contact-thanks__wrap -->
            <div class="contact-thanks__wrap">
                <!-- begin .contact-thanks__box -->
                <div class="contact-thanks__box">
                    <h1 class="h1"><span class="big-red">Спасибо!</span> Ваша заявка принята в&nbsp;разаработку!
                        В&nbsp;скором времени с&nbsp;вами свяжутся наши консультанты</h1>

                    <p>Заявка вас ни к чему не обязывает. Наш менеджер свяжется с вами, чтобы уточнить детали и ответить
                        на все ваши вопросы.</p>
                    <!-- begin .contact-thanks__actions -->

                    <div class="contact-thanks__actions"><a class="button button-shadow" href="/ru/">На главную</a></div>
                    <!-- end .contact-thanks__actions -->
                </div>
                <!-- end .contact-thanks__box -->
            </div>
            <!-- end .contact-thanks__wrap -->
        </div>
        <!-- end .contact-thanks -->