@page
@{
    ViewData["Title"] = "Регламентирующие документы Vizavi";
}
    <title>Регламентирующие документы Vizavi</title>
        
        <!-- begin .text-page -->
        <div class="text-page">
            <!-- begin .text-page__wrap -->
            <div class="text-page__wrap">
                <!-- begin .text-page__content -->
                <div class="text-page__content text-content">
                    <h1 class="h1">Регламентирующие <span>документы</span></h1>

                    <p>Ознакомьтесь со списком основных документов понашей компании. Для получения любых иных документов
                        просим обращаться к нашим сотрудникам по телефону или почте.</p>
                    <!-- begin .list-box -->

                    <div class="list-box">
                        <!-- <h2 class="h2 title-light">Прочие документы</h2> -->
                        <ul class="list-mini">
                            <li class="list-mini__item"><a class="doc-link doc-link--pdf"
                                    href="/assets/privacy-policy.pdf"><span class="doc-link__icon"></span><span class="doc-link__name">Политика конфиденциальности</span> </a></li>
                            <li class="list-mini__item"><a class="doc-link doc-link--pdf"
                                    href="/assets/refund-policy.pdf"><span class="doc-link__icon"></span><span class="doc-link__name">Политика возврата
                                        платежей</span> </a></li>
                            <li class="list-mini__item"><a class="doc-link doc-link--pdf"
                                    href="/assets/client-agreement.pdf"><span class="doc-link__icon"></span><span class="doc-link__name">Клиентское
                                        соглашение</span> </a></li>
                            <li class="list-mini__item"><a class="doc-link doc-link--pdf"
                                    href="/assets/risk-disclosure.pdf"><span class="doc-link__icon"></span><span class="doc-link__name">Уведомление о рисках</span>
                                </a></li>
                        </ul>
                    </div>
                    <!-- end .list-box -->
                </div>
                <!-- end .text-page__content -->
            </div>
            <!-- end .text-page__wrap -->
        </div>
        <!-- end .text-page -->