@page
@{
    ViewData["Title"] = "Торговый терминал Vizavi";
}
   
        <!-- begin .headline -->
        <div class="headline headline--trading-terminal">
            <!-- begin .headline__wrap -->
            <div class="headline__wrap">
                <!-- begin .headline__content -->
                <div class="headline__content">
                    <h1 class="h2">MetaTrader 5</h1>

                    <p><strong>MetaTrader 5</strong>&nbsp;&mdash; революционная, мультирыночная платформа, которая
                        позволяет <strong>совершать сделки на&nbsp;нескольких рынках одновременно</strong></p>
                    <!-- begin .headline__actions -->

                    <div class="headline__actions headline-actions">
                        <!-- begin .headline-actions__caption -->
                        <div class="headline-actions__caption">Скачать MetaTrader 5</div>
                        <!-- end .headline-actions__caption -->
                        <!-- begin .headline-actions__buttons -->

                        <div class="headline-actions__buttons">
                            <a href="https://download.mql5.com/cdn/web/12591/mt5/vzvimpex5setup.exe" class="button button-mini button-red button-with-icon">
                                <span class="button-with-icon__icon">
                                    <svg height="22" width="22">
                                        <use xlink:href="#i_windows-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </span>
                                <span class="button-with-icon__text">Windows</span>
                            </a>
                            <a href="https://download.mql5.com/cdn/mobile/mt5/ios?server=VZVImpex-MetaTrader5" class="button button-mini button-dark button-with-icon">
                                <span class="button-with-icon__icon">
                                    <svg height="25" width="21">
                                        <use xlink:href="#i_apple-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </span>
                                <span class="button-with-icon__text">iPhone</span>
                            </a>
                            <a href="https://download.mql5.com/cdn/mobile/mt5/android?server=VZVImpex-MetaTrader5" class="button button-mini button-dark button-with-icon">
                                <span class="button-with-icon__icon">
                                    <svg height="27" width="22">
                                        <use xlink:href="#i_android-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </span>
                                <span class="button-with-icon__text">Android</span>
                            </a>
                        </div>
                        <!-- end .headline-actions__buttons -->
                    </div>
                    <!-- end .headline__actions -->
                </div>
                <!-- end .headline__content -->
            </div>
            <!-- end .headline__wrap -->
        </div>
        <!-- end .headline -->
        <!-- begin .text-terminal -->

        <div class="text-terminal">
            <!-- begin .text-terminal__wrap -->
            <div class="text-terminal__wrap">
                <!-- begin .text-terminal__content -->
                <div class="text-terminal__content">
                    <!-- begin .intro-box -->
                    <div class="intro-box">
                        <h2 class="h2"><span>Больше,</span> чем просто торговый терминал</h2>

                        <p>Получите доступ к&nbsp;<strong>самым прогрессивным алгоритмам</strong> обработки операций,
                            <strong>лучшую скорость и&nbsp;непревзойденное удобство проведения сделок</strong>.</p>
                    </div>
                    <!-- end .intro-box -->
                </div>
                <!-- end .text-terminal__content -->
                <!-- begin .icon-cards -->

                <div class="icon-cards icon-cards--numbers">
                    <!-- begin .icon-card -->
                    <div class="icon-card">
                        <!-- begin .icon-card__box -->
                        <div class="icon-card__box">
                            <!-- begin .icon-card__icon -->
                            <div class="icon-card__icon">
                                <!-- begin .icon-card__icon-ico -->
                                <div class="icon-card__icon-ico"><svg height="49" width="47">
                                        <use xlink:href="#i_analytics" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg></div>
                                <!-- end .icon-card__icon-ico -->
                                <!-- begin .icon-card__icon-decor -->

                                <div class="icon-card__icon-decor"></div>
                                <!-- end .icon-card__icon-decor -->
                            </div>
                            <!-- end .icon-card__icon -->
                            <!-- begin .icon-card__content -->

                            <div class="icon-card__content">
                                <!-- begin .icon-card__content-number -->
                                <div class="icon-card__content-number">38</div>
                                <!-- end .icon-card__content-number -->
                                <!-- begin .icon-card__content-description -->

                                <div class="icon-card__content-description">
                                    <!-- begin .icon-card__content-title -->
                                    <div class="icon-card__content-title">Встроенных технических индикаторов</div>
                                    <!-- end .icon-card__content-title -->
                                </div>
                                <!-- end .icon-card__content-description -->
                            </div>
                            <!-- end .icon-card__content -->
                        </div>
                        <!-- end .icon-card__box -->
                    </div>
                    <!-- end .icon-card -->
                    <!-- begin .icon-card -->

                    <div class="icon-card">
                        <!-- begin .icon-card__box -->
                        <div class="icon-card__box">
                            <!-- begin .icon-card__icon -->
                            <div class="icon-card__icon">
                                <!-- begin .icon-card__icon-ico -->
                                <div class="icon-card__icon-ico"><svg height="43" width="50">
                                        <use xlink:href="#i_graph" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg></div>
                                <!-- end .icon-card__icon-ico -->
                            </div>
                            <!-- end .icon-card__icon -->
                            <!-- begin .icon-card__content -->

                            <div class="icon-card__content">
                                <!-- begin .icon-card__content-number -->
                                <div class="icon-card__content-number">21</div>
                                <!-- end .icon-card__content-number -->
                                <!-- begin .icon-card__content-description -->

                                <div class="icon-card__content-description">
                                    <!-- begin .icon-card__content-title -->
                                    <div class="icon-card__content-title">Период графиков</div>
                                    <!-- end .icon-card__content-title -->
                                </div>
                                <!-- end .icon-card__content-description -->
                            </div>
                            <!-- end .icon-card__content -->
                        </div>
                        <!-- end .icon-card__box -->
                    </div>
                    <!-- end .icon-card -->
                    <!-- begin .icon-card -->

                    <div class="icon-card">
                        <!-- begin .icon-card__box -->
                        <div class="icon-card__box">
                            <!-- begin .icon-card__icon -->
                            <div class="icon-card__icon">
                                <!-- begin .icon-card__icon-ico -->
                                <div class="icon-card__icon-ico"><svg height="52" width="54">
                                        <use xlink:href="#i_diagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg></div>
                                <!-- end .icon-card__icon-ico -->
                                <!-- begin .icon-card__icon-decor -->

                                <div class="icon-card__icon-decor"></div>
                                <!-- end .icon-card__icon-decor -->
                            </div>
                            <!-- end .icon-card__icon -->
                            <!-- begin .icon-card__content -->

                            <div class="icon-card__content">
                                <!-- begin .icon-card__content-number -->
                                <div class="icon-card__content-number">4</div>
                                <!-- end .icon-card__content-number -->
                                <!-- begin .icon-card__content-description -->

                                <div class="icon-card__content-description">
                                    <!-- begin .icon-card__content-title -->
                                    <div class="icon-card__content-title">Режима исполнения ордеров</div>
                                    <!-- end .icon-card__content-title -->
                                    <!-- begin .icon-card__content-info -->

                                    <div class="icon-card__content-info">Немедленный, по&nbsp;запросу, по&nbsp;рынку
                                        и&nbsp;биржевой</div>
                                    <!-- end .icon-card__content-info -->
                                </div>
                                <!-- end .icon-card__content-description -->
                            </div>
                            <!-- end .icon-card__content -->
                        </div>
                        <!-- end .icon-card__box -->
                    </div>
                    <!-- end .icon-card -->
                    <!-- begin .icon-card -->

                    <div class="icon-card">
                        <!-- begin .icon-card__box -->
                        <div class="icon-card__box">
                            <!-- begin .icon-card__icon -->
                            <div class="icon-card__icon">
                                <!-- begin .icon-card__icon-ico -->
                                <div class="icon-card__icon-ico"><svg height="52" width="66">
                                        <use xlink:href="#i_monitoring" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        </use>
                                    </svg></div>
                                <!-- end .icon-card__icon-ico -->
                                <!-- begin .icon-card__icon-decor -->

                                <div class="icon-card__icon-decor"></div>
                                <!-- end .icon-card__icon-decor -->
                            </div>
                            <!-- end .icon-card__icon -->
                            <!-- begin .icon-card__content -->

                            <div class="icon-card__content">
                                <!-- begin .icon-card__content-number -->
                                <div class="icon-card__content-number">2</div>
                                <!-- end .icon-card__content-number -->
                                <!-- begin .icon-card__content-description -->

                                <div class="icon-card__content-description">
                                    <!-- begin .icon-card__content-title -->
                                    <div class="icon-card__content-title">Системы учета ордеров</div>
                                    <!-- end .icon-card__content-title -->
                                    <!-- begin .icon-card__content-info -->

                                    <div class="icon-card__content-info">Традиционная неттинговая и хеджинговая</div>
                                    <!-- end .icon-card__content-info -->
                                </div>
                                <!-- end .icon-card__content-description -->
                            </div>
                            <!-- end .icon-card__content -->
                        </div>
                        <!-- end .icon-card__box -->
                    </div>
                    <!-- end .icon-card -->
                </div>
                <!-- end .icon-cards -->
            </div>
            <!-- end .text-terminal__wrap -->
        </div>
        <!-- end .text-terminal -->
        <!-- begin .advantage-terminal -->

        <div class="advantage-terminal">
            <!-- begin .advantage-terminal__wrap -->
            <div class="advantage-terminal__wrap">
                <!-- begin .intro-box -->
                <div class="intro-box">
                    <h2 class="h2"><span>Преимущества</span> MetaTrader 5</h2>

                    <p>MetaTrader 5&nbsp;&mdash; это <strong>лучший выбор современного трейдера</strong>. <span>Торгуйте
                            на&nbsp;финансовых рынках, используя <strong>широкие возможности мобильной
                                и&nbsp;алгоритмической торговли, аналитики, социального трейдинга и&nbsp;технического
                                анализа</strong>.</span></p>
                </div>
                <!-- end .intro-box -->
                <!-- begin .advantage-terminal__cards -->

                <div class="advantage-terminal__cards advantage-cards">
                    <!-- begin .advantage-card -->
                    <div class="advantage-card">
                        <!-- begin .advantage-card__box -->
                        <div class="advantage-card__box">
                            <!-- begin .advantage-card__icon -->
                            <div class="advantage-card__icon"><svg height="62" width="64">
                                    <use xlink:href="#i_settings" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></div>
                            <!-- end .advantage-card__icon -->
                            <!-- begin .advantage-card__name -->

                            <div class="advantage-card__name">Гибкая настройка параметров торговли</div>
                            <!-- end .advantage-card__name -->
                        </div>
                        <!-- end .advantage-card__box -->
                    </div>
                    <!-- end .advantage-card -->
                    <!-- begin .advantage-card -->

                    <div class="advantage-card">
                        <!-- begin .advantage-card__box -->
                        <div class="advantage-card__box">
                            <!-- begin .advantage-card__icon -->
                            <div class="advantage-card__icon"><svg height="64" width="64">
                                    <use xlink:href="#i_analytics-color" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    </use>
                                </svg></div>
                            <!-- end .advantage-card__icon -->
                            <!-- begin .advantage-card__name -->

                            <div class="advantage-card__name">Расширенные возможности копи- и алготрейдинга</div>
                            <!-- end .advantage-card__name -->
                        </div>
                        <!-- end .advantage-card__box -->
                    </div>
                    <!-- end .advantage-card -->
                    <!-- begin .advantage-card -->

                    <div class="advantage-card">
                        <!-- begin .advantage-card__box -->
                        <div class="advantage-card__box">
                            <!-- begin .advantage-card__icon -->
                            <div class="advantage-card__icon"><svg height="64" width="55">
                                    <use xlink:href="#i_multitesting" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></div>
                            <!-- end .advantage-card__icon -->
                            <!-- begin .advantage-card__name -->

                            <div class="advantage-card__name">Тестирование мультивалютных стратегий</div>
                            <!-- end .advantage-card__name -->
                        </div>
                        <!-- end .advantage-card__box -->
                    </div>
                    <!-- end .advantage-card -->
                    <!-- begin .advantage-card -->

                    <div class="advantage-card">
                        <!-- begin .advantage-card__box -->
                        <div class="advantage-card__box">
                            <!-- begin .advantage-card__icon -->
                            <div class="advantage-card__icon"><svg height="73" width="68">
                                    <use xlink:href="#i_cross-platform" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    </use>
                                </svg></div>
                            <!-- end .advantage-card__icon -->
                            <!-- begin .advantage-card__name -->

                            <div class="advantage-card__name">Профессиональный анализ рынков</div>
                            <!-- end .advantage-card__name -->
                        </div>
                        <!-- end .advantage-card__box -->
                    </div>
                    <!-- end .advantage-card -->
                    <!-- begin .advantage-card -->

                    <div class="advantage-card">
                        <!-- begin .advantage-card__box -->
                        <div class="advantage-card__box">
                            <!-- begin .advantage-card__icon -->
                            <div class="advantage-card__icon"><svg height="67" width="74">
                                    <use xlink:href="#i_multicurrency" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></div>
                            <!-- end .advantage-card__icon -->
                            <!-- begin .advantage-card__name -->

                            <div class="advantage-card__name">Мобильное приложение для iOS и Android</div>
                            <!-- end .advantage-card__name -->
                        </div>
                        <!-- end .advantage-card__box -->
                    </div>
                    <!-- end .advantage-card -->
                    <!-- begin .advantage-card -->

                    <div class="advantage-card">
                        <!-- begin .advantage-card__box -->
                        <div class="advantage-card__box">
                            <!-- begin .advantage-card__icon -->
                            <div class="advantage-card__icon"><svg height="56" width="62">
                                    <use xlink:href="#i_target-width-bag" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    </use>
                                </svg></div>
                            <!-- end .advantage-card__icon -->
                            <!-- begin .advantage-card__name -->

                            <div class="advantage-card__name">Встроенные финансовые новости и экономический календарь
                            </div>
                            <!-- end .advantage-card__name -->
                        </div>
                        <!-- end .advantage-card__box -->
                    </div>
                    <!-- end .advantage-card -->
                </div>
                <!-- end .advantage-terminal__cards -->
            </div>
            <!-- end .advantage-terminal__wrap -->
        </div>
        <!-- end .advantage-terminal -->
        <!-- begin .terminal-cards -->

        <div class="terminal-cards">
            <!-- begin .terminal-cards__bg -->
            <div class="terminal-cards__bg"></div>
            <!-- end .terminal-cards__bg -->
            <!-- begin .terminal-cards__wrap -->

            <div class="terminal-cards__wrap">
                <!-- begin .terminal-cards__cards -->
                <div class="terminal-cards__cards">
                    <!-- begin .terminal-card -->
                    <div class="terminal-card">
                        <!-- begin .terminal-card__box -->
                        <div class="terminal-card__box">
                            <!-- begin .terminal-card__icon -->
                            <div class="terminal-card__icon"><img alt="MetaTrader Market" height="74"
                                    src="/ru/assets/images/metatrader-market.png" width="226" /></div>
                            <!-- end .terminal-card__icon -->
                            <!-- begin .terminal-card__info -->

                            <div class="terminal-card__info">Самый большой в мире магазин торговых роботов, технических
                                индикаторов и скриптов.</div>
                            <!-- end .terminal-card__info -->
                        </div>
                        <!-- end .terminal-card__box -->
                    </div>
                    <!-- end .terminal-card -->
                    <!-- begin .terminal-card -->

                    <div class="terminal-card">
                        <!-- begin .terminal-card__box -->
                        <div class="terminal-card__box">
                            <!-- begin .terminal-card__icon -->
                            <div class="terminal-card__icon"><img alt="Облачные технологии" height="104"
                                    src="/ru/assets/images/svg/cloud-server.svg" width="133" /></div>
                            <!-- end .terminal-card__icon -->
                            <!-- begin .terminal-card__info -->

                            <div class="terminal-card__info">Круглосуточная работа торговой платформы даже при
                                выключенном компьютере.</div>
                            <!-- end .terminal-card__info -->
                        </div>
                        <!-- end .terminal-card__box -->
                    </div>
                    <!-- end .terminal-card -->
                    <!-- begin .terminal-card -->

                    <div class="terminal-card">
                        <!-- begin .terminal-card__box -->
                        <div class="terminal-card__box">
                            <!-- begin .terminal-card__icon -->
                            <div class="terminal-card__icon"><img alt="MQL5.community" height="81"
                                    src="/ru/assets/images/MQL5.png" width="157" /></div>
                            <!-- end .terminal-card__icon -->
                            <!-- begin .terminal-card__info -->

                            <div class="terminal-card__info">Язык торговых стратегий для создания, оптимизации и
                                тестирования торговых роботов..</div>
                            <!-- end .terminal-card__info -->
                        </div>
                        <!-- end .terminal-card__box -->
                    </div>
                    <!-- end .terminal-card -->
                </div>
                <!-- end .terminal-cards__cards -->
            </div>
            <!-- end .terminal-cards__wrap -->
        </div>
        <!-- end .terminal-cards -->
        <!-- begin .terminal-apps -->

        <div class="terminal-apps">
            <!-- begin .terminal-apps__wrap -->
            <div class="terminal-apps__wrap grid-container">
                <div class="terminal-apps__desktop grid-container--b">
                    <!-- begin .terminal-apps__headline -->
                    <div class="terminal-apps__headline">
                        <h2 class="h2">Скачайте <span>MetaTrader 5</span> прямо сейчас</h2>
                    </div>
                    <!-- end .terminal-apps__headline -->
                    <!-- begin .terminal-apps__actions -->

                    <div class="terminal-apps__actions">
                        <a class="button button-mini button-red button-with-icon"
                            href="https://download.mql5.com/cdn/web/12591/mt5/vzvimpex5setup.exe"><span class="button-with-icon__icon"><svg height="22" width="22">
                                    <use xlink:href="#i_windows-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg> </span> <span class="button-with-icon__text">Windows</span> </a></div>
                    <!-- end .terminal-apps__actions -->
                </div>

                <div class="grid-container--a"><img alt="" src="/ru/assets/images/main/metatrader5.png" /></div>

                <div class="terminal-apps__mobile grid-container--c">
                    <!-- begin .terminal-apps__headline -->
                    <div class="terminal-apps__headline">
                        <h2 class="h2">Скачайте MetaTrader 5 для iOS или Android и <span>получайте прибыль из&nbsp;любой
                                точки мира</span></h2>
                    </div>
                    <!-- end .terminal-apps__headline -->
                    <!-- begin .terminal-apps__actions -->

                    <div class="terminal-apps__actions">
                        <a class="button button-mini button-dark button-with-icon"
                            href="https://download.mql5.com/cdn/mobile/mt5/ios?server=VZVImpex-MetaTrader5"><span class="button-with-icon__icon"><svg height="25" width="21">
                                    <use xlink:href="#i_apple-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg> </span> <span class="button-with-icon__text">iPhone</span> </a> <a
                            class="button button-mini button-dark button-with-icon" href="https://download.mql5.com/cdn/mobile/mt5/android?server=VZVImpex-MetaTrader5"> <span
                                class="button-with-icon__icon"> <svg height="27" width="22">
                                    <use xlink:href="#i_android-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg> </span> <span class="button-with-icon__text">Android</span> </a></div>
                    <!-- end .terminal-apps__actions -->
                </div>
            </div>
            <!-- end .terminal-apps__wrap -->
        </div>
        <!-- end .terminal-apps -->